@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
html {
  font-family: "DM Sans", sans-serif;
  /* background: url(/img/fon.png);
    background-repeat: repeat;
    background-position: cover; */
  /* background-attachment: scroll; */
  /* background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
  background: #3e3e3d;
  color: white;
}
::selection {
  background: #e42e3a;
}

/* card styles */
.blog-card {
  width: 350px;
  height: 500px;

  top: 50%;
  left: 50%;

  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.background1 {
  background: url(https://images.unsplash.com/photo-1560762484-813fc97650a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8a2V5Ym9hcmR8ZW58MHx8MHx8&w=1000&q=80)
    no-repeat;
}
.background2 {
  background: url(https://images.unsplash.com/photo-1551033406-611cf9a28f67?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHdlYnNpdGV8ZW58MHx8MHx8&w=1000&q=80);
}
.background3 {
  background: url(https://images.unsplash.com/photo-1598520106864-72ed7919100b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTl8fGludGVybmV0fGVufDB8fDB8fA%3D%3D&w=1000&q=80);
}
.blog-card .color-overlay {
  /* Rectangle 11: */
  background: rgba(84, 104, 110, 0.4);
  z-index: 10;
  top: 0;
  left: 0;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.blog-card .gradient-overlay {
  background-image: -webkit-linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 21%
  );
  background-image: -moz-linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 21%
  );
  background-image: -o-linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 21%
  );
  background-image: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 21%
  );
  left: 0;
  z-index: 15;
}
.blog-card:hover .card-info {
  opacity: 1;
  bottom: 120px;
}
.blog-card:not(:last-child) {
  margin-right: 20px;
}
.blog-card:hover .color-overlay {
  background: rgba(84, 104, 110, 0.8);
}
.title-content {
  text-align: center;
  margin: 70px 0 0 0;

  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
}
.card_header {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #9cc9e3;
  margin-bottom: 0;
}
hr {
  width: 50px;
  height: 3px;
  margin: 20px auto;
  border: 0;
  background: #d0bb57;
}
.intro {
  width: 170px;
  margin: 0 auto;
  color: #dce3e7;
  font-size: 13px;
  line-height: 18px;
}
.card-info {
  bottom: 100px;
  left: 0;
  margin: 0 auto;
  padding: 0 50px;
  color: #dce3e7;
  font-style: 16px;
  line-height: 24px;
  z-index: 20;
  opacity: 0;
  transition: bottom 0.3s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.nav {
  background: rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  margin: 0;
  top: 0;
  z-index: 100;
  transition: all 0.3s ease;
  width: 100%;
}
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.header {
  background: url(/img/desert.avif);
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center center;
  /* background-attachment: fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
  margin-bottom: 40px;
}
ul {
  display: flex;
}
.nav_buttons {
  display: flex;
  padding: 0;
}
.nav__buttons__link {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  color: #fff;
}
.nav_button:not(:last-child) {
  margin-right: 48px;
}
.logo {
  display: flex;
  align-items: center;
  position: relative;
}

.logo_picture {
  border: none;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  height: 46px;
  width: 46px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_picture_self {
  width: 30px;
}

.logo_text__copyright {
  right: -7px;
  top: 10px;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 10px;
}

.space {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
  position: relative;
}
.space_text {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  color: #fff;
  cursor: default;
}
.logo_text {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #fff;
}
.contact {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 296px;
  color: #fff;
  width: 131px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  cursor: pointer;
  transition: 0.3s;
}

.contact:hover {
  background: #fff;
  color: #000;
}

.contact_text {
  font-size: 15px;
  font-weight: 700;
}

.main {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 47px 47px 0 0;
  width: 70%;
  padding: 50px 80px;
}
.main__container__who {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects__heading {
  display: flex;
  justify-content: center;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card {
  display: flex;
  flex-direction: column;
}
.card:not(:last-child) {
  padding-right: 50px;
}

.card__picture {
  background: #464646;
  width: 100%;
  height: 300px;
  color: white;
}

.card__link {
  color: #434343;
  text-decoration: underline;
}

.typed-cursor {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 31px;
  color: #fff;
  cursor: default;
}
.teammembers {
  display: flex;
  justify-content: center;
  margin-top: 8vh;
  align-items: center;
  flex-direction: column;
}

.teammembers_card {
  display: flex;
  flex-direction: column;
}

.teammembers_card_text {
  margin-top: 1px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height */

  color: white;
}

.teammembers_card_picture {
  margin-bottom: 17px;
}
.teammembers_card_picture:not(:last-child) {
  margin-right: 20px;
}
.teammembers_card_mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */

  color: white;
}
.footer {
  background: #797979;
  border-radius: 0px 0px 47px 47px;
  display: flex;
  width: 70%;
  padding: 30px 80px;

  align-items: center;
}
.footer_logo {
  border-right: 2px solid #d9d9d9;
  margin-right: 1%;
}
.footer_logo_text {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 33px;
  /* identical to box height */
  padding-right: 10px;

  color: #ffffff;
}
.footer_buttons_knopki {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height */

  color: #ffffff;
}
.footer_buttons_knopki_aboutus {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  margin-right: 17px;
  /* identical to box height */

  color: #ffffff;
}
.footer_buttons_knopki_projects {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  margin-right: 17px;
  /* identical to box height */

  color: #ffffff;
}
.footer_buttons_knopki_members {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  margin-right: 17px;
  /* identical to box height */

  color: #ffffff;
}
.footer_buttons_knopki_contact {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height */

  color: #ffffff;
}
.footer_buttons_copyright {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height */

  color: #ffffff;
}
.footer_social {
  margin-left: 11%;
}

.footer_social_telegram {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height */

  color: #ffffff;
}

.footer_social_twiiter {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height */

  color: #ffffff;
}

.footer_social_link {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height */

  color: #ffffff;
}

.footer_social_mail {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height */

  color: #ffffff;
}
.nav.out {
  transform: translateY(-100%);
}
.nav__button__icon {
  display: none;
}

/* adaptivity */

@media (min-width: 831px) and (max-width: 1024px) {
  .main {
    margin: 0;
  }
  .cards {
    width: 100%;
  }
  .teammembers_card {
    width: 30%;
  }
  .teammembers_card_picture:not(:last-child) {
    margin-right: 5px;
  }

  .main__container {
    padding: 25px 25px;
  }
  .footer {
    padding: 25px 25px;
  }
}

@media (min-width: 797px) and (max-width: 830px) {
  .nav_button:not(:last-child) {
    display: none;
  }
  .contact {
    margin-left: 0;
  }
  .space-text {
    font-size: 5em;
  }
  .teammembers_card_picture:not(:last-child) {
    margin-right: 5px;
  }
  .cards {
    width: 100%;
  }
  .teammembers_card {
    width: 30%;
  }
  .footer {
    padding: 25px 25px;
  }
}

@media all and (max-width: 768px) {
  .main__container {
    width: 100%;
    border-radius: 0;
  }
  .header {
    margin-bottom: 0;
  }
}

@media all and (max-width: 550px) {
  .nav_buttons {
    display: none;
  }
}

@media all and (max-width: 480px) {
  .contact {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .card {
    padding: 0;
    margin-bottom: 20px;
  }
  .card:not(:last-child) {
    padding-right: 0;
  }
  .cards {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .teammembers {
    margin-top: 0.5vh;
  }

  .blog-card {
    margin: 0 0 20px !important;
  }
  .footer {
    flex-direction: column;
    width: 100%;
  }
  .footer_logo {
    border-right: 0;
    margin-top: 1px;
    border-bottom: 2px solid #d9d9d9;
    margin-bottom: 20px;
  }
  .footer_logo_text {
    margin-bottom: 5px;
  }
  .footer_buttons_knopki {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: stretch;
  }
  .footer_buttons_copyright {
    margin-left: 20px;
  }
  .footer_social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-left: 0;
  }

  .icon {
    margin-right: 0px;
  }
  .mobile__nav {
    display: flex;
  }
  .nav__buttons__link {
    line-height: 1.15;
  }
  .nav__button__icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
  }
}

@media screen and (min-width: 550px) {
}


.blur {
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5px );
-webkit-backdrop-filter: blur( 5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
 position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998; 
  display: none;
}

.form {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
    align-items: center;
    justify-content: center;
}




#message
{
    padding-top:50px;
    padding-bottom:70px;
    background-color:#f8f8f8;
    border-top:1px solid #e5e5e5
}
 
#message h2
{
    margin-bottom:30px
}
 
#message h2 span
{
    border-bottom:5px solid #ed1d25
}
 
#message label
{
    color:#666;
    margin-bottom:10px;
    font-size:1.2em
}
 
#message #form_email,#message #form_message,#message #form_name
{
    box-sizing:border-box;
    border:1px solid #fff;
    box-shadow:none
}
 
#message #form_email,#message #form_name
{
    padding:25px;
    border:1px solid #ccc;
    font-size:1.1em
}
 
#message #form_message
{
    height:249px;
    padding:25px;
    border:1px solid #ccc;
    font-size:1.2em
}
 
#message #button_contacts
{
    background:#666;
    padding:15px 0;
    width:100%;
    border:2px solid #666;
    color:#fff;
    cursor:pointer;
    font-size:1.3em;
    text-transform:uppercase;
    transition:background .6s,color .6s
}
 
#message #button_contacts:hover
{
    background:0 0;
    color:#666
}